<!-- 2021-02-04, exam work, tarot card reader -->
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="scss/master.css">
        <title>The Arcana</title>
    </head>
    <body>
        <h1>Apprentice</h1>
        <nav>
            <p>Apprentice</p>
            <p>Master</p>
            <div>EXP</div>
            <!--form containing: view last card reading, change username, delete account, log out-->
        </nav>

        <aside class="requestReading">
            <h1>Request Reading</h1>
            <img src="../img/Tarot_back.png" alt="Tarot Card Back">
        </aside>

        <aside class="practiceCardReading">
            <h1>Practice Card Reading</h1>
            <img src="../img/Tarot_back.png" alt="Tarot Card Back">
        </aside>

    </body>
</html>
