<!-- 2021-02-04, exam work, tarot card reader -->
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="scss/master.css">
        <title>The Arcana</title>
    </head>
    <body>
        <main>
            <h1>Apprentice</h1> <!--Show for login and signup-->
            <h1>Master</h1> <!--show for signup-->

            <div class="">
                <a href="">LOG IN</a>
                <a href="">SIGNUP</a>
                <div class="">
                    <!-- form with placeholders: email, password-->
                </div>
                <!-- form login -->
            </div>

            <div class="">
                <a href="">LOG IN</a>
                <a href="">SIGNUP</a>
                <div class="">
                    <!-- form with placeholders: username, email, confirm email, password, congirm password -->
                </div>
                <!-- form login -->
            </div>

        </main>
    </body>
</html>
